.label {
display: inline-block !important;
    width: 30px;
    height: 30px;
    border-radius: 300px;
    position: relative;
    padding: 0;
    top: 3px;
}
.recipe {
	background:#222;
}
.stats {
	text-align: center;
	background:#00bc8c;
}
.stats th {
	text-align: center;
	padding:0;
	font-weight: normal;
}
.stats th {
	border-right:1px solid rgba(255,255,255,.2);
}
.stats > tbody > tr > td {
	border:0;
	font-size:25px;
	padding-bottom:0;
	font-weight: bold;
}
.panel-heading {
	font-size:20px;
}
.recipe-details .panel {
	border-width:0;
}
.recipe-details .panel table tr td, .recipe-details .panel table tr th {
	padding:15px;
}
.recipe-details .panel-info table tr th {
	background:#2e81b9;
}
.recipe-details .panel-success table tr th {
	background:#009a73;
}
.recipe-details .panel-warning table tr th {
	background:#d78a0f;
}
.recipe-details .panel-danger table tr th {
	background:#cf4536;
}